:root {
    --accent-color: #016eba;
    --lightest-color: #e0f0fe;
    --lighter-color: #bae1fd;
    --light-color: #7ccafd;
    --dark-color: #025ea2;
    --darker-color: #0c436e;
    --darkest-color: #082a49;

    --nav-bar-w: calc(var(--nav-tooltip-w) + var(--nav-button-w));
    --nav-button-h: 54px;
    --nav-button-w: var(--nav-button-h);
    --nav-tooltip-w: calc(var(--nav-button-w) * 3);

    --border-r: 1rem;
    --transition-duration: 0.3s;

    --card-w: 250px;
    --card-h: 75px;
}

body[data-theme="light"] {
    --darkest-color: #e0f0fe;
    --darker-color: #bae1fd;
    --dark-color: #7ccafd;
    --light-color: #025ea2;
    --lighter-color: #0c436e;
    --lightest-color: #082a49;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--darkest-color);
}

::-webkit-scrollbar-thumb {
    border: 0.25rem solid var(--darkest-color);
    border-radius: var(--border-r);
    background: linear-gradient(45deg, #00aeff, #a68eff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-m {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: var(--dark-color);
    display: grid;
    grid-template-columns: var(--nav-button-w) 1fr;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

#main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
    padding: 0 1rem;
    flex: 1;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100dvh;
    width: var(--nav-button-w);
    background: var(--darkest-color);
    color: var(--lightest-color);
}

#nav-bar hr {
    border: none;
    border-top: solid 1px var(--accent-color);
}

#nav-bar .nav-button {
    z-index: 9999;
    background: var(--darkest-color);
    color: var(--lightest-color);
    height: var(--nav-button-h);
    width: var(--nav-button-w);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 var(--border-r) var(--border-r) 0;
    transition: width var(--transition-duration) ease;
}

#nav-bar .nav-button:focus-visible {
    outline: none;
}


#nav-bar .nav-button:not(#theme-toggle, #lang-selector):hover {
    width: var(--nav-bar-w);
    border: 1px solid var(--lightest-color);
    border-left: none;
}

/*noinspection CssInvalidPropertyValue*/
#nav-bar #lang-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

#nav-bar #theme-toggle {
    border-radius: 0;
}

#nav-bar .nav-button i {
    height: var(--nav-button-h);
    width: var(--nav-button-w);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: calc(var(--nav-button-w) * 0.25) solid var(--darkest-color);
}

#nav-bar .nav-button span {
    opacity: 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    white-space: pre-wrap;
    transition: opacity var(--transition-duration) ease;
}

#nav-bar .nav-button:hover span {
    opacity: 1;
    width: var(--nav-tooltip-w);
    padding: 0 0.5rem 0 0.5rem;
    text-overflow: clip;
}

#nav-bar .nav-button#lang-selector i {
    background-size: calc(var(--nav-button-w) * 0.6);
    background-position: center;
    border: calc(var(--nav-button-w) * 0.25) solid var(--darkest-color);
    border-radius: 50%;
    transition: background-size var(--transition-duration) ease;
}

#nav-bar .nav-button#lang-selector i:hover {
    background-size: calc(var(--nav-button-w) * 1.25);
    border: calc(var(--nav-button-w) * 0.15) solid var(--darkest-color);
}

#nav-bar .nav-button:not(#lang-selector):hover i {
    background: var(--accent-color);
    border: none;
}

#nav-bar .nav-button#lang-selector:hover .lang-options {
    width: fit-content;
    padding: 0;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: var(--nav-button-h);
    min-height: var(--nav-button-h);
    background-color: var(--darkest-color);
    flex: 0;
}

#main-header h1 {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    font-weight: 700;
    letter-spacing: .01em;
    text-shadow: .022em .022em .022em #111;
    color: var(--lightest-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5rem;
    row-gap: 5px;
    width: 100%;
    height: 54px;
    background-color: var(--darkest-color);
    padding: 10px 20px;
    text-align: center;
}

#main-footer .developer-info {
    font-size: 14px;
    width: 35%;
    max-width: 500px;
    color: var(--lighter-color);
    text-overflow: ellipsis;
}

#main-footer .developer-info a {
    color: var(--lighter-color);
    text-decoration: none;
}

#main-footer .developer-info a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#main-footer .social-icons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    max-width: 200px;
}

#main-footer .social-icon {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--lighter-color);
    transition: color var(--transition-duration) ease;
}

#main-footer .social-icon:hover {
    color: var(--accent-color);
}

#main-footer .donate-banner {
    display: inline-block;
    padding: 10px 30px;
    width: 65%;
    max-width: calc(var(--nav-button-w) * 4);
    min-width: calc(320px - var(--nav-button-w));
    background-color: var(--dark-color);
    color: var(--lightest-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color var(--transition-duration) ease;
}

#main-footer .donate-banner:hover {
    background-color: var(--accent-color);
}

#main-footer .donate-banner i {
    margin-left: 5px;
}

@media (min-width: 320px) and (max-width: 768px) {

    #main-footer {
        height: calc(var(--nav-button-h) * 3);
        flex-direction: column;
    }

    #main-footer .developer-info, #main-footer .social-icons, #main-footer .donate-banner {
        width: 100%;
    }

    #main-section > article.collapsed .article-header {
        width: 100% !important;
    }
}

#main-section section {
    flex: 1;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    row-gap: 1rem;
}

#loading-screen {
    background-color: var(--darker-color);
    display: grid;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: var(--nav-button-w);
    --wave-w: calc(var(--nav-button-w) * 4);
    --wave-h: 100px;
}

#loading-screen .loading-wave {
    width: var(--wave-w);
    height: var(--wave-h);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#loading-screen .loading-bar {
    background-color: var(--accent-color);
    width: calc(var(--wave-w) / 15);
    height: calc(var(--wave-h) / 10);
    margin: 0 5px;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

#loading-screen .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

#loading-screen .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

#loading-screen .loading-bar:nth-child(4) {
    animation-delay: var(--transition-duration);
}

@keyframes loading-wave-animation {

    0%,
    100% {
        height: calc(var(--wave-h) / 10);
    }

    50% {
        height: calc(var(--wave-h) / 2);
    }
}

#main-section > article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    row-gap: 1rem;
    text-align: justify;
}

#main-section > article > .article-header {
    background-color: var(--dark-color);
    row-gap: 5px;
    width: 100%;
}

.article-content > article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.article-content > article .article-content p {
    text-align: justify;
}

.article-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--darker-color);
    border-bottom: solid var(--lightest-color) 1px;
    color: var(--lightest-color);
    padding: .75rem;
    flex: 0;
    text-align: center;
    transition: width 0.3s ease;
}

.article-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: var(--lighter-color);
    padding: 1rem;
    gap: 1rem;
}

article.collapsible .article-header {
    cursor: pointer;
}

article.collapsed {
    height: auto;
    border-bottom: none;
}

#main-section > article.collapsed .article-header {
    width: 50%;
}

article article.collapsed .article-header {
    border-bottom: none;
}

article.collapsed .article-content {
    display: none !important;
}

article.text-article .article-content {
    flex-direction: column;
}

article i.collapsible-icon {
    transition: transform 0.3s ease;
}

article i.rotate {
    transform: rotate(180deg);
}

.inner-article {
    padding: 0 2rem;
}

.inner-article .article-header {
    background-color: var(--dark-color);
}

.inner-article .article-content {
    border: none !important;
}

.nav-cards .article-content {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(var(--card-h), 1fr));
    grid-template-columns: repeat(auto-fit, minmax(var(--card-w), 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.nav-cards .article-content .card {
    width: 100%;
    height: 100%;
    background-color: var(--darker-color);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
}

.nav-cards .card:hover {
    box-shadow: 0 0 .5rem .25rem var(--light-color);
}

.nav-cards .card a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--lightest-color);
    font-size: 1.35rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    text-decoration: none;
    border-radius: var(--border-r);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px;
}

.resources-container > .article-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    width: 100%;
    flex-wrap: wrap;

    ::-webkit-scrollbar {
        width: .5rem;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--darker-color);
    }

    ::-webkit-scrollbar-thumb {
        border: 0.16rem solid var(--darker-color);
    }
}

option {
    width: 100%;
}

.resources-container > .article-content a {
    display: flex;
    text-decoration: none;
    flex: 1;
    height: 250px;
    color: var(--lightest-color);
    background: var(--darker-color);
    border-radius: var(--border-r);
}

.resource-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-r);
    border: 2px solid var(--lightest-color);
    font-size: 18px;
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.resource-card:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}

.resource-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
    border-radius: 12px 0 0 12px;
}

.resource-card:hover .resource-card-img {
    transform: scale(1.14) rotate(3deg);
}

.resource-card:hover .resource-card-bar {
    width: 100px;
}

.resource-card-image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.resource-card-text-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    height: 100%;
    row-gap: .25rem;
}

.resource-card-title {
    font-size: 1.5rem;
}

.resource-card-subtitle {
    color: var(--lighter-color);
    font-style: italic;
}

.resource-card-bar {
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: width 0.2s ease;
}

.resource-card-description {
    font-size: 15px;
    color: var(--lighter-color);
    text-align: justify;
    overflow-y: scroll;
    text-overflow: ellipsis;
    flex: 1;
    padding: 0 .5rem 0 1rem;
    background-color: var(--darker-color);
}

#converters .article-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--converter-w), 1fr));
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    flex: 0;

    --converter-w: 400px;
    --converter-w-min: 150px;
    --converter-h: 400px;
}


#armor-pen .article-content, #armor-piercing .article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#armor-pen .card, #armor-piercing .card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

#converters .card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    flex: 0;
}

#armor-pen .card-header, #converters .card-header, #armor-piercing .card-header {
    font-size: 34px;
    background-color: var(--darkest-color);
    border: none;
    text-align: center;
}

#armor-pen .card-title, #converters .card-title, #armor-piercing .card-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#ap-comparison {
    width: 100%;
    height: 100%;
    display: flex;
}

#ap-comparison .comparison {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 2rem;
}

#armor-piercing .bullet {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

#armor-piercing .bullets {
    width: 100%;
    height: 100%;
    flex: 1;
    row-gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    padding: 1rem 0;
}

#armor-piercing .steel-block {
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    row-gap: 5rem;
    padding: 1rem 0;
}

#armor-piercing .pen-graph {
    display: flex;
    justify-content: end;
    align-items: end;
}

#armor-piercing .steel-block > label {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%) translateY(-1.5rem);
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-shadow: #111 1px 1px;
}

#armor-piercing .bullet > label {
    position: relative;
    top: -2rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-shadow: #111 1px 1px;
}

#armor-piercing .pen-graph label {
    padding: .05rem .25rem;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    text-align: end;
    text-shadow: #111 1px 1px;
}

#armor-pen form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1rem 2rem;
}

#armor-piercing form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 1rem 2rem;
}

#armor-piercing form button, #armor-piercing form p {
    grid-column: 1/6;
}

#converters form {
    justify-content: space-between;
    column-gap: 20px;
}

option {
    width: 100% !important;
}

#armor-pen textarea:focus, #converters textarea:focus,
#armor-pen input:focus, #converters input:focus,
#armor-piercing textarea:focus, #armor-piercing input:focus {
    outline: var(--accent-color) solid 2px;
}

#armor-pen .input-group, #converters .input-group,
#armor-pen .output-group, #converters .output-group,
#armor-piercing .input-group, #armor-piercing .output-group {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 5px;
}

#armor-pen input, #converters input,
#armor-pen select, #converters select,
#armor-piercing input, #armor-piercing select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--darker-color);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: var(--lightest-color);
    background-color: var(--darker-color);
    text-overflow: ellipsis;
}

main input[type="number"]::-webkit-inner-spin-button,
main input[type="type"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#armor-pen input, #converters input, #armor-piercing .cannon-form input {
    background-color: var(--darker-color);
}

#armor-pen select, #converters select, #armor-piercing .cannon-form select {
    background-color: var(--darkest-color);
    border: none;
    cursor: pointer;
    text-align: center;
}

#armor-pen label.hidden, #converters label, #armor-piercing .cannon-form label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media (min-width: 1441px) {

    #main-section {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {

    #main-section {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    #main-section {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    #main-section {
        width: 100%;
    }

    .resource-card-subtitle {
        display: none;
        flex: 0;
    }
}

@media (max-width: 480px) {

    .resource-card-image-box {
        display: none;
        flex: 0;
    }

    .resource-card-subtitle {
        display: none;
        flex: 0;
    }

    #main-section {
        width: 100%;
        margin: 0;
    }

    #nav-bar #lang-selector {
        height: calc(var(--nav-button-h) * 2);
    }

    #nav-bar .nav-button#lang-selector:hover .lang-options {
        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - var(--nav-button-h)) !important;
    }
}

.countries {
    --wave-duration: 7s;
}

.countries .card:hover {
    box-shadow: 0 0 10px 4px white;
}

.countries .card-wave-container {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.countries .card-wave {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.countries .card-wave-inner {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 40%;
    animation: calc(var(--wave-duration) * 2) card-wave-animation infinite linear forwards;
}

.countries .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: .25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

@keyframes card-wave-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#links a {
    text-decoration: none;
    color: var(--lighter-color);
}

#types .card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
}

#types .card a {
    align-items: start;
    margin-top: 5px;
}

#videos .article-content, #images .article-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    width: 100%;
}

#videos .article-content iframe {
    width: 100%;
    height: auto;
    min-height: 250px;
    border: 2px solid var(--darkest-color);
    border-radius: var(--border-r);
}

#lang-modal {
    background-color: var(--darkest-color);
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

#lang-modal .modal-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(320px - 4rem), 1fr));
    min-height: 100%;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
}

#lang-modal .lang-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    row-gap: 2rem;
    height: fit-content;
    font-size: 1rem;
    width: 100%;
    background-color: var(--darker-color);
    border-radius: var(--border-r);
    text-decoration: none;
    color: var(--lightest-color);
    flex: 1;
}

#lang-modal .lang-block i {
    width: 100%;
    min-height: var(--nav-button-h);
}

.button {
    appearance: none;
    background-color: var(--accent-color);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: var(--lightest-color);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: var(--dark-color);
}

.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button:disabled {
    background-color: var(--dark-color);
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button:active {
    background-color: var(--dark-color);
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#armor-pen .button {
    grid-column: 2;
    width: auto;
}